/* main styles */
#page {
	position: relative;
	padding: 10px;
}
#login {
	position: relative;
	max-width: 580px;
	margin: 10% auto 0;
}
#info {
	position: relative;
	max-width: 1024px;
	margin: 10% auto 0;
}
#footer {
	position: relative;
	color: #999;
}